/************** Resetando  ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/************** Resetando  ************/

/************** Variáveis  ************/
:root {
    /* Colors Group */
    --color-theme-1: #01bdff;
    --color-theme-2: #fff;
    --color-theme-3: #000;
    --color-orange: #e6630d;
    --color-blue: rgb(12, 7, 39);

    /* Border Groups */
    --border-radius: 5px;

    /* Effects Groups */
    --transition: .5s;
    --gradiente-start: rgba(4, 9, 30, .3);
    --gradiente-end: rgba(4, 9, 30, .9);
}
/************** Variáveis  ************/

/************** Formatações Genéricas  ************/
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

span{
    background-color: var(--color-theme-1);
    border-radius: 5px;
}
h1{
    font-size: 32px;
}
/************** Formatações Genéricas  ************/

/************** Menu Bar nav-bar class  ************/
.nav-bar {
    display: flex;
    width: 100%;
    background-color: var(--color-theme-3);
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    z-index: 100;
}

.nav-bar h1 {
    color: var(--color-theme-2);
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--color-theme-3);
    display: flex;
    width: 100%;
    justify-content: right;
}


li a,
.dropbtn {
    display: inline-block;
    color: var(--color-theme-2);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: var(--color-theme-1);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--color-theme-3);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--color-theme-1);
}

.dropdown:hover .dropdown-content {
    display: block;
}
/************** Menu Bar nav-bar class  ************/


/************** Home Container - Class  ************/
.nav-explorar {
    display: flex;
    background-size: cover;
    min-height: 100vh;

}

.div-description{
    position: absolute;
    top: 30%;   
    left: 3%;
}
.button-login{
    background-color: var(--color-theme-1);
    border: 2px solid var(--color-theme-3);
    width: 100px;
    border-radius: 20px;
    font-size: 18px;
    color: var(--color-theme-2);
}

.button-rectangle{
    border: 1px solid black;
    position: relative;
    top: 15%;
    left: 30%;
    background-color: #01bdff;
    width: 85px;
    height: 35px;
    transition: 3s;        
    border-radius: 30px;
}

.button-rectangle a{
    background-color: #01bdff;
    color: white;
    text-decoration-line: none;
    font-size: 16px;
}


.buttons-position{
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
}

.buttonInscrever-se{
    background-color: var(--color-theme-3);
    border: 2px solid var(--color-theme-3);
    width: 210px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    color: var(--color-theme-2);
    font-weight: 400;
    margin: 0px 10px 0px 0px;
}

.buttonExplorar{
    background-color: var(--color-theme-1);
    border: 2px solid var(--color-theme-3);
    width: 210px;
    border-radius: 20px;
    font-size: 18px;
    color: var(--color-theme-2);
}

.rectangle-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--color-theme-2);
    position: absolute;
    z-index: 0;
    left: 65%;
    top: 25%;
    width: 250px;
    height: 250px;
    box-shadow: -10px 10px 50px 10px #777;
    transition: 3s;        
    background-color: var(--color-theme-2);
}

.rectangle-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--color-theme-2);
    position: absolute;
    z-index: 0;
    left: 70%;
    top: 35%;
    width: 250px;
    height: 250px;
    transition: 3s;
    background-color: var(--color-theme-2);

}

.rectangle-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--color-theme-2);
    position: absolute;
    z-index: 0;
    left: 75%;
    top: 45%;
    width: 250px;
    height: 250px;
    z-index: 1;
    box-shadow: 10px 10px 50px 10px #777;
    transition: 3s;        
    background-color: var(--color-theme-2);
}

img{
    height: 55%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.rectangle-hover:hover{
    border: 5px solid var(--color-theme-2);
    position: absolute;
    z-index: 95;
    left: 65%;
    top: 25%;
    width: 380px;
    height: 390px;
    transition: 3s;
    
}

.rectangle-hover:hover .button-rectangle{
    top: 25%;
    left: 35%;
    transition: 3s;
    
}
/************** Home Container - Class  ************/

/************** Galeria Container - Class  ************/
.nav-galeria {
    background-color: green;
    background-size: cover;
    min-height: 100vh;

}
/************** Galeria Container - Class  ************/

/* https://qastack.com.br/programming/15782078/bring-element-to-front-using-css */